PROJECT_NAME="E-Commerce Backend API"
SECRET_KEY="your-super-secret-jwt-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database & Redis URLs
DATABASE_URL="postgresql://postgres:Rohith199@localhost:5432/postgres"

# Upstash TCP Configuration
REDIS_URL="rediss://default:gQAAAAAABMYdAAIgcDFhYTdjYzQ0YzhlNzU0MDljYjg3YWM3Yzc5MGYwMTBiMg@comic-pig-312861.upstash.io:6379"
UPSTASH_REDIS_URL="rediss://default:gQAAAAAABMYdAAIgcDFhYTdjYzQ0YzhlNzU0MDljYjg3YWM3Yzc5MGYwMTBiMg@comic-pig-312861.upstash.io:6379"
CELERY_BROKER_URL="rediss://default:gQAAAAAABMYdAAIgcDFhYTdjYzQ0YzhlNzU0MDljYjg3YWM3Yzc5MGYwMTBiMg@comic-pig-312861.upstash.io:6379"
CELERY_RESULT_BACKEND="rediss://default:gQAAAAAABMYdAAIgcDFhYTdjYzQ0YzhlNzU0MDljYjg3YWM3Yzc5MGYwMTBiMg@comic-pig-312861.upstash.io:6379"

# Upstash REST Configuration
UPSTASH_REDIS_REST_URL="https://comic-pig-312861.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAABMYdAAIgcDFhYTdjYzQ0YzhlNzU0MDljYjg3YWM3Yzc5MGYwMTBiMg"

# SMTP Mail Settings (for Celery background tasks)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="guntururohithsai@gmail.com"
SMTP_PASSWORD="idbr dweh jhyd wiko"

# Frontend CORS
FRONTEND_URL="http://localhost:5173"
ALLOWED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174"